body {
   height: 100%;
   color: #444;
   font-family: "Nunito",sans-serif;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #fff;
}

/* Start Navbar */

.nav-logo {
   display: inline-block;
   padding-top: 7px;
   font-family: "Dancing Script", cursive;
   font-size: 25px;
   font-weight: 100;
   color: #00b4cc;
   transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out; }


   .nav-item a:hover {
      color: #00b4cc;
   }

   .nav-logo:hover {
      color: #00b4cc;
      text-decoration: none; }
    
    
/* End Navbar */


/* CENTER TEXT */
h2 {
   font-size: 30px;
   line-height: 1em;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 10px;
   font-weight: 800;
   letter-spacing: 0;
   color: #444;
   font-family: "Nunito",sans-serif;
   display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section-header{
   text-align: center;
}

.col-xs-12{
   width: 100%;
   float: left;
   position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.justify--space{
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.d--flex {

   display: flex;
}
.mb--1 {
   margin-bottom: 10px !important;
}
.mb--0 {
   margin-bottom: 0 !important;
}
.mt--0 {
   margin-top: 0 !important;
}
.cta__svg {
   position: absolute;
   width: calc(100% + 3px);
   left: -3px;
   right: 0;
   z-index: 1;
}

/* END CENTER TEXT */
.bgimage-fooldal {
   height: 100vh;
   width: 100%;
   margin: 0 auto;
   background: url(../images/three-tomato-dishes-on-brown-wooden-chopping-board-1438676.jpg) no-repeat center center; 
   background-size: cover;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
 }
 .wrap{
    text-align: center;
    position: absolute;
    width: 30%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.serach{
   width: 100%;
   position: relative;
}

#autocomplete{
  
   float: left;
   width: 100%;
   border: 3px solid #00b4cc;
   border-radius: 15px;
   padding: 11px;
   font-size: 15px;
   outline: none;
   transition: 1s all;
 }

.serachterm:focus{
   color: #00b4cc;
   border: 3px solid #fff;
}



.searchbtn{
   position: absolute;
   width: 50px;
   height: 50px;
   border: 1px solid #00b4cc;
   background-color: #00b4cc;
   border-radius: 25px;
   text-align: center;
   color: #fff; 
   cursor: pointer;
   font-size: 20px;  
}


/* cards */

.offer-cards {
   display: inline-flex;
   justify-content: center;
   align-items: flex-start;
}
.card-2{
   box-shadow: 0 15px 15px 0 rgba(0,0,0,.25);
   text-align: center;
   padding: 2.5rem;
   margin-bottom: .625rem;
   margin-top: .625rem;
    margin-left: 1.9375rem;
     margin-right: 1.9375rem;
     width: 85%;
     max-width: 85%;
     width: 18.75rem;
     box-sizing: border-box;
     align-items: center;
 }

 /* map */
 #map {
    height: 50vh;
      margin-top: 40px;
      width: 440px;
 }
 
 #description {
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
 }
 #infowindow-content .title {
   font-weight: bold;
 }
 #infowindow-content {
   display: none;
 }
 #map #infowindow-content {
   display: inline;
 }
 .pac-card {
   margin: 10px 10px 0 0;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   background-color: #fff;
   font-family: Roboto;
 }
 #pac-container {
   padding-bottom: 12px;
   margin-right: 12px;
 }
 .pac-controls {
   display: inline-block;
   padding: 5px 11px;
 }
 .pac-controls label {
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
 }

 #pac-input:focus {
   border-color: #4d90fe;
 }
 #title {
   color: #fff;
   background-color: #4d90fe;
   font-size: 25px;
   font-weight: 500;
   padding: 6px 12px;
 }
 #listing {
   position: absolute;
   margin-top: 40px;
   width: 200px;
   height: 470px;
   overflow: auto;
   left: 442px;
   top: 0px;
   cursor: pointer;
   overflow-x: hidden;
 }